<h5>お問い合わせフォーム</h5>
<%= form_with model: @contact do |f| %>
    <%= f.label :name, 'お名前*' %><br>
    <%= f.text_field :name %><br>
    <%= f.label :message, 'メッセージ*' %><br>
    <%= f.text_field :message %>
    <%= f.submit '送信' %>
<% end %>