<div class="post-show">
  <%= attachment_image_tag @post, :image, size: "400x370", format:'jpg', fallback:"no-img.jpg" %>
  <div class ="post-show2">
    <div class="post-time">
      <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>
    </div>
    <% @post.genres.each do |genre| %>
      #<%= genre.name %>
    <% end %>
    <!--%= render '/users/info', user: @user %-->
    <div class="post-img">
      <%= attachment_image_tag @post.user, :profile_image, size:"30x30", fallback: "no-img.jpg" %>
    </div>

    <% if @post.favorited_by?(current_user) %>
      <p>
        <%= link_to post_favorites_path(@post), method: :delete do %>
         <%= @post.favorites.count %>💙
        <% end %>
      </p>
    <% else %>
      <p>
        <%= link_to post_favorites_path(@post), method: :post do %>
          <%= @post.favorites.count %>🤍
        <% end %>
      </p>
    <% end %>



    <div class="post-name">
      <p><%= @post.post_name %></p>
    </div>

    <div class="post-caption">
      <p><%= @post.caption %></p>
    </div>

    <div class="post-usr-name">
      <p><%= @post.user.name %></p>
    </div>

    <div class="post-comment">
      <%= form_with(model: [@post, @comment], method: :post) do |f| %>
      <%= f.text_area :comment_content %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.submit '送信' %>
      <% end %>
    </div>

    <div class="post-comments">
      <% @comments.each do |comment| %>
        #<%= comment.comment_content %>
      <% end %>
    </div>

    <div class="post-delete">
      <% if @post.user == current_user %>
      <%= link_to "削除", post_path(@post), method: :delete %>
      <% end %>
    </div>
  </div>
</div>