<div class="post-body">
  <%= attachment_image_tag @post, :image %>
  <p><%= @post.post_name %></p>
  <p><%= @post.caption %></p>
  <p><%= @post.user.name %></p>
  <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>
</div>