<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--Bootstrap css読み込みコード追加-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Bpptstrap Javascript読み込みコード追加-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script
  </head>


  <body>
      <% if user_signed_in? %>
      <nav class="navbar navbar-expand-md  navbar-light bg-light">
        <ul class="nav-list">
          <li><a href="/genres">ジャンル一覧</a></li>
          <li><a href="/posts">投稿一覧</a></li>
          <li><a href="/posts/new">新規投稿</a></li>
          <li>
            <a><%= link_to"ログアウト", destroy_user_session_path, method: :delete %></a>
            </li>
          <li>
            <a><%= link_to"マイページ",user_path(current_user.id), class:"nav-link4" %></a>
          </li>
        <% else %>
          <li><a href="/users/sign_up">新規登録</a></li>
          <li><a href="/users/sign_in">ログイン</a></li>
          <li><a href="/home/about">サイト概要</a></li>
          <li><a href="/">トップページ</a></li>
        </ul>
      <% end %>
      </nav>
      <%= yield %>
  　<footer>
      <h5>©All Right Rserverd Bikers</h5>
    </footer>
  </body>

</html>
