<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
      <% if user_signed_in? %>
      <nav class="navbar navbar-expand-md  navbar-light bg-light">
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="nav-link0" href="/genres">ジャンル一覧</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-link1" href="/posts">投稿一覧</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-link2" href="/posts/new">新規投稿</a>
          </li>
          <li class="nav-list-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link3" %>
          </li>
        <% else %>
          <li class="nav-list-item">
            <a class="nav-link4" href="/users/sign_up">新規登録</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-link5" href="/users/sign_in">ログイン</a>
          </li>
        </ul>
      <% end %>
      </nav>
      <%= yield %>
  　<footer>
      <h5>©All Right Rserverd Bikers</h5>
    </footer>
  </body>
  
</html>
