<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--Bootstrap css読み込みコード追加-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Bpptstrap Javascript読み込みコード追加-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>


  <body>
      <nav>
        <ul class="nav-list">
        <% if user_signed_in? %>


            <li><a href="/genres">Jenres</a></li>
            <li><a href="/posts">All Posts</a></li>
            <li><a href="/posts/new">New Post</a></li>
            <li>
              <a><%= link_to"Log out", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure you want to log out?"} %></a>
            </li>
            <li>
              <a><%= link_to"MyPage",user_path(current_user.id) %></a>
            </li>
            <li><a href="/users">Bikers</a></li>
        <% else %>
            <li><a href="/">TopPage</a></li>
            <li><a href="/home/about">OverView</a></li>
            <li><a href="/users/sign_up">Sign up</a></li>
            <li><a href="/users/sign_in">Sign in</a></li>


        <% end %>
        </ul>
      </nav>
      <%= yield %>
      <h5>©All Right Rserverd Bikers</h5>
  </body>
</html>
